{% load ayat_extras%}
<form method="POST">
    {% csrf_token %}
 <table class="table table-bordered" DIR="RTL">
    <tbody>
      {% for wordb, metab in display_with_meta|batch:10 %}
      <tr>
          {% for word in wordb %}
          <td>{{ word }}</td>
          {% endfor %}
      </tr>
      <tr>
          {% for meta, tstring, difficulty in metab %}
          <td class="{{ tstring }}"><input type="hidden" name="{{ meta }}" value="{{ difficulty }}"></td>
          {% endfor %}
      </tr>
      {% endfor %}

  </tbody>

    </table>