{% extends "base.html" %}


{% block content %}
    <div class="mb-4 text-align:left">
     <button class="btn btn-dark" onclick="history.back(-1)">Back</button>
  </div>

{% if ayat_list_for_surah %}
	

	<div class="list-group">
		<a class="list-group-item list-group-item-primary"><h2>Ayat List</h2></a>
    {% for hifz in ayat_list_for_surah %}
        <a class="list-group-item list-group-item-action " href="{% url 'qurandata:detail' hifz.surah_number hifz.ayat_number %}">
            <p class="ml-2 mt-2 align-self-center" style="text-align:left;">
                {{ hifz.ayat_number }}
                <span style="float:right;"><small>{{ hifz.last_refreshed_period_string }}</small></span>
            </p>
        </a>
    {% endfor %}
    </div>

	
{%  else %}
	<p>No ayats are available.</p>
{% endif %}
{% endblock %}