{% extends "base.html" %}
{% load ayat_extras%}

{% block content %}
<form method="POST">
	{% csrf_token %}


{% include "qurandata/ayatdisplay.html" %}


    <div class=" text-center">
  <button class="btn-success custom-submit btn" type="submit">
            Update Difficulties
        </button>
    </div>
  </form>

<br>
    {% if messages %}
    {% for message in messages %}

    <div class="alert alert-success">
        {{message}}
    </div>

    {% endfor %}
    {% endif %}


{% endblock %}