{% extends "base_authenticated.html" %}
{% load ayat_extras%}



{% block content %}

<div class="mb-4 text-align:left">
     <button class="btn btn-dark" onclick="history.back(-1)">Back</button>
  </div>

<form method="POST">
	{% csrf_token %}


{% include "qurandata/ayatdisplay.html" %}


    <div class=" text-center">
  <button class="btn-success custom-submit btn" type="submit">
            Update Difficulties
        </button>
    </div>
  </form>

<br>
    {% if messages %}
    {% for message in messages %}

    <div class="alert alert-success">
        {{message}}
    </div>

    {% endfor %}
    {% endif %}


{% endblock %}