{% extends "base_authenticated.html" %}

{% block content %}
{% if latest_quran_data %}
	<div class="list-group">
		<a class="list-group-item list-group-item-primary text-center"><h2>Surah List</h2></a>
    {% for hifz, surah_name in latest_quran_data %}
        <a class="list-group-item list-group-item-action " href="{% url 'qurandata:ayatlist' hifz.surah_number %}"><p class="text-right">{{ surah_name }}</p></a>
    {% endfor %}
    </div>
{% else %}
    <p>No hifz are available.</p>
{% endif %}

<!-- <form action="{% url 'qurandata:enter' %}">
    <input type="submit" value="Enter Data" />
</form> -->

	
{% if message %}
<h2>{{ message }}</h2>
{% endif %}

{% endblock %}