{% extends "base_authenticated.html" %}

{% block content %}

{% if mode_select %}
<div class="row justify-content-center">
    <div class="col-md-12 align-self-center">
        Please select your mode of revision.
    </div>
</div>

<form id="reviseParameters" action="{% url 'qurandata:revise' %}" method="POST">
    {% csrf_token %}
    <div class="my-4 row justify-content-center">
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-primary active">
                <input type="radio" name="mode-select" id="juz_mode" value="juz_mode" autocomplete="off" checked> Juz Mode
            </label>
            <label class="btn btn-primary">
                <input type="radio" name="mode-select" id="surah_mode" value="surah_mode" autocomplete="off"> Surah Mode
            </label>
            <label class="btn btn-primary">
                <input type="radio" name="mode-select" id="free_mode" value="free_mode" autocomplete="off"> Free Mode
            </label>
        </div>

    </div>


    <div class="row justify-content-center">
        <div class="mb-4 col-md-12 align-self-center">
            Please enter the streak length.
        </div>
    </div>

    <!--TODO: limit for juz number o surah number-->
    <div class="row justify-content-center">
        <div class="col-md-12 align-self-center">
            <input type="number" class="mb-4 form-control" id="streak-length" name="streak-length" placeholder="Streak Length" required="true">
            <input type="number" class="mb-4 form-control" id="unit-number" name="unit-number" placeholder="Juz Number" min="1" max="30">
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="mb-4 col-md-12 align-self-center">
            Please enter the number of ayats needed to be shown for context.
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-12 align-self-center">
            <input type="number" class="mb-4 form-control" id="context-count" name="context-count" value="1" max="4" min="1" required="true">
            <button  class="btn btn-outline-primary" type="submit">Start</button>
        </div>
    </div>

</form>

{% endif %}


{% if revision_cards and revision_cards|length > 1 %}
<div id="revise_carousel" class="carousel slide" data-ride="carousel" data-interval="0">


    <div class="row justify-content-center align-items-center">
        <button class="mx-5 my-2 btn btn-success custom-carousel-button" href="#revise_carousel" data-slide="prev" type="button">
            <span class="carousel-control-prev-icon"></span>
        </button>
        <!-- Left and right controls -->
        <button class="mx-5 my-2 btn btn-success custom-carousel-button" href="#revise_carousel" data-slide="next" type="button">
            <span class="carousel-control-next-icon"></span>
        </button>
    </div>

    <!-- The slideshow -->
    <div class="carousel-inner">

        {% for hifzinfo, cardSet in revision_cards %}
            {% if forloop.first %}
                <div class="carousel-item active">
            {% else %}
                <div class="carousel-item">
            {% endif %}

            {% include "qurandata/revisiondisplay.html" %}

            </div>
        {% endfor %}

        </div>
    </div>


    <div class="row justify-content-center align-items-center">
        <button class="btn mx-2" id="show-ayat-button">Show Words</button>
        <button class="btn mx-2" id="show-clue-button">Show Clue</button>
    </div>

	<div class="row justify-content-center align-items-center">
		<div class="my-4 checkbox">
            <form action="{% url 'qurandata:revise' %}" method="POST" id="refreshed-checkbox-form">
                {% csrf_token %}
                <label><input id="refreshed-checkbox" type="checkbox" value="">  Refreshed!</label>
            </form>

		</div>
	</div>




</div>






{% endif %}

{% if not revision_cards and not mode_select %}

<h1>No hifz matches those criteria.</h1>

{% endif %}



{% endblock %}
