<div class="text-center my-4">
    <button type="button" class="label-button btn btn-light"><p class="uthm2">{{ hifzinfo.surah_name }}</p></button>
    <button type="button" class="label-button btn btn-light">{{ hifzinfo.ayat_number }}</button>
</div>

<p class="uthm2 text-center" dir="rtl">


{% for metaHifz, stringsAndSMeta in cardSet %}
    {% for word, metaShown in stringsAndSMeta %}
            {% if metaShown %}
                {{ word }}
            {% else %}
                <span class="hidden-word" type="hidden">{{ word }}</span>
    <span class="blank-lines">____</span>
            {% endif %}
        {% endfor %}
    <b class="ayat-mark btn btn-light"> {{ metaHifz.ayat_number }} </b>
{% endfor %}


</p>
