<div>


<div class="text-center my-4">
    <button type="button" class="label-button btn btn-light"><p class="uthm2">{{ surah_name }}</p></button>
    {% comment %} <p id="surah-number" hidden >{{ hifzinfo.surah_number }}</p> {% endcomment %}
    <button id="ayat-number" type="button" class="label-button btn btn-light">{{ ayat_number }}</button>
</div>

    <div>
        <img   class="page" src="{{ url }}" usemap="#pageblocks{{forloop.counter}}"  id="testImage{{forloop.counter}}"  style="width:100%; height:auto" >
    </div>

<map name="pageblocks{{forloop.counter}}">
        {% for data in boundary_list %}
            <area shape="rect" color="black" part="{{forloop.parentloop.counter}}_{{forloop.counter}}" href="#" coords="{{ data.0 }}, {{ data.2 }}, {{ data.1 }} - {{ data.0 }}, {{ data.3 }} - {{ data.2 }} ">
        {% endfor %}
</map>

</div>








