{% extends "base_authenticated.html" %}

{% block content %}

{% if mode_select %}
<div class="row justify-content-center">
    <div class="col-md-12 align-self-center">
        Please select your mode of revision.
    </div>
</div>

<form id="reviseParameters" action="{% url 'nasrulhifz:revise' %}" method="POST">
    {% csrf_token %}
    <div class="my-4 row justify-content-center">
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <!-- TODO: fix juz mode for revise page -->
<!--            <label class="btn btn-primary active">-->
<!--                <input type="radio" name="mode-select" id="juz_mode" value="juz_mode" autocomplete="off" checked> Juz Mode-->
<!--            </label>-->
            <label class="btn btn-primary">
                <input type="radio" name="mode-select" id="surah_mode" value="surah_mode" autocomplete="off" checked> Surah Mode
            </label>
            <label class="btn btn-primary">
                <input type="radio" name="mode-select" id="free_mode" value="free_mode" autocomplete="off"> Free Mode
            </label>
        </div>

    </div>


    <div class="row justify-content-center">
        <div class="mb-4 col-md-12 align-self-center">
            Please enter the streak length. (This is the number of test you will be given for your selected mode)
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-12 align-self-center">
            <input type="number" class="mb-4 form-control" id="streak-length" name="streak-length" placeholder="Streak Length" required="true">
            <input type="number" class="mb-4 form-control" id="unit-number" name="unit-number" placeholder="Surah Number" min="1" max="114" aria-describedby="UnitNumberWarning">


        </div>
    </div>

    <div class="row justify-content-center">
        <div class="mb-4 col-md-12 align-self-center">
            Please enter the number of ayats to be blinded around the tested ayat. (Example: if you want 1 ayat before and after the ayat tested to be blinded as well, enter 1 in this box.)
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-12 align-self-center">
            <input type="number" class="mb-4 form-control" id="blind-count" name="blind-count" value="1" max="4" min="1" required="true">
            <button  class="btn btn-outline-primary" type="submit">Start</button>
        </div>
    </div>



</form>

{% endif %}


{% if meta and meta|length > 0 %}

    <!-- The slideshow -->

    <div id="image-slider" class="splide">
        <div class="splide__track">
            <div class="splide__list">
                {% for url, boundary_list, surah_name, surah_number, ayat_number in meta %}
                    <div class="splide__slide">
                        {% include "nasrulhifz/revisiondisplay.html" %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>












{% endif %}

{% if not meta and not mode_select %}

<h1>No hifz matches those criteria.</h1>

{% endif %}


{% endblock %}

