{% extends "base_raw.html" %}


{% block navs %}

<div class="container h-100 center-stuff justift-content-center">

{% if form.errors %}
  <p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
  {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
  {% else %}
    <p>Please login to see this page.</p>
  {% endif %}
{% endif %}

  <!--TODO: add banner-->

<form method="post" action="{% url 'login' %}">
{% csrf_token %}

  <div class="form-group">
    <input placeholder="username" type="text" class="form-control custom-size" id="id_username" name="username">
  </div>
  <div class="form-group">
    <input placeholder="password" type="password" class="form-control custom-size" id="id_password" name="password">
  </div>


<div>
  <button class="btn btn-primary" type="submit" value="login">Login</button>
  <input type="hidden" name="next" value="{{ next }}" />
</div>
</form>

{# Assumes you setup the password_reset view in your URLconf #}
<p class="mt-2"><a href="{% url 'password_reset' %}">Lost password?</a></p>

</div>




{% endblock %}