{% extends "base_raw.html" %}

{% block content %}
<div class="center-stuff">
  <form action="" method="post">
  {% csrf_token %}
  {% if form.email.errors %}
    {{ form.email.errors }}
  {% endif %}
    <div class="form-group">
      <label class="m-2" for="id_email">Please enter your email address for recovery.</label>

      <input class="form-control m-2" name="email" required="" id="id_email" maxlength="254" type="email"/>

      <input type="submit" class="m-2 btn btn-default btn-lg" value="Reset password"/>

    </div>
  </form>
</div>
{% endblock %}