.custom-plus {
    width: 78px !important;
    border-radius: 5px !important;
}

.custom-submit {
	width: 300px !important;
    border-radius: 5px !important;	
}

.custom-form {
	width: 200px !important;
}

.custom-carousel-button {
    height: 50px !important;
    width: 200px !important;
}

.label-button {
    height: 60px !important;
}

.custom-size {
	width: 300px !important;
}

.center-stuff {
   position: absolute;
   left: 45%;
   top: 50%;
   margin-left: -150px;
   margin-top: -150px;
}


.ayat-mark {
    border-radius: 15px !important;
    border-width: 1px !important;
    border-color: black;
}

@font-face {
  font-family: 'me_quran';
  src: url('../fonts/me_quran.ttf')  format("truetype"),
       local('me_quran');
}


.me_quran {
    font-family: me_quran;
    font-size: 20px;
}

@font-face {
  font-family: 'uthm';
  src: url('../fonts/uthm.ttf')  format("truetype"),
       local('uthm');
}


.uthm {
    font-family: uthm;
    font-size: 35px;
}

@font-face {
  font-family: 'uthm2';
  src: url('../fonts/uthm2.otf')  format("opentype"),
       local('uthm2');
}


.uthm2 {
    font-family: uthm2;
    font-size: 28px;
}