.custom-plus {
    width: 78px !important;
    border-radius: 5px !important;
}

.custom-submit {
	width: 300px !important;
    border-radius: 5px !important;	
}

.custom-form {
	width: 200px !important;
}

.custom-size {
	width: 300px !important;
}

.center-stuff {
   position: absolute;
   left: 45%;
   top: 50%;
   margin-left: -150px;
   margin-top: -150px;
}
