{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block content %}


        <div>
            <!-- A wrapper for all the blog posts -->
            <div class="posts">
                <h1 class="content-subhead">Pinned Post</h1>

                {% for post in blogpages %}
                <!-- A single blog post -->
                <section class="post">
                    <header class="post-header">
                        <!--<img width="48" height="48" alt="Tilo Mitra&#x27;s avatar" class="post-avatar" src="img/common/tilo-avatar.png">-->

                        <h2 class="post-title"><a href="{% pageurl post %}">{{ post.specific.title }}</a></h2>

                        <p class="post-meta">
                            {% if post.specific.author %}
                            By <a href="#" class="post-author">{{ post.specific.author.profile }}</a>
                            {% endif %}
                            Published {{ post.specific.date }}

                            under
                            {% with categories=post.specific.categories.all %}
                            {% if categories %}
                            {% for category in categories %}
                            <a class="post-category post-category-design" href="{% slugurl 'category' %}?category={{ category.name }}">{{ category.name }}</a>
                            {% endfor %}
                            {% endif %}
                            {% endwith %}

                        </p>
                    </header>

                    <div class="post-description">
                        {{ post.specific.body|richtext |truncatewords:200}}
                        <!--<p>-->
                            <!--Yesterday at CSSConf, we launched Pure – a new CSS library. Phew! Here are the <a href="https://speakerdeck.com/tilomitra/pure-bliss">slides from the presentation</a>. Although it looks pretty minimalist, we’ve been working on Pure for several months. After many iterations, we have released Pure as a set of small, responsive, CSS modules that you can use in every web project.-->
                        <!--</p>-->
                    </div>
                </section>
                {% endfor %}

            </div>
        </div>

    <!--<h1>{{ page.title }}</h1>-->

    <!--{% comment %} <div class="intro">{{ page.intro|richtext }}</div> {% endcomment %}-->

    <!--{% for post in blogpages %}-->
        <!--<h2><a href="{% pageurl post %}">{{ post.title }}</a></h2>-->
        <!--{{ post.specific.intro }}-->
        <!--{{ post.specific.body|richtext |truncatewords:200}}-->
    <!--{% endfor %}-->

{% endblock %}