.custom-plus {
    width: 78px !important;
    border-radius: 5px !important;
}

.custom-submit {
	width: 300px !important;
    border-radius: 5px !important;	
}

.custom-form {
	width: 200px !important;
}

.topleft {
    position: absolute;
    top: 0px;
    right: 0;
}

.table-style {
}

#refresh-table {
  border-width: 0px !important;
}

.mydiv {
  position: relative;
}

.custom-carousel-button {
    height: 50px !important;
    width: 200px !important;
}

.label-button {
    height: 60px !important;
}

.custom-size {
	width: 300px !important;
}

.center-stuff {
   position: absolute;
   left: 45%;
   top: 50%;
   margin-left: -150px;
   margin-top: -150px;
}

#ayat-list-table {
  float: center;
}

.ayat-mark {
    border-radius: 15px !important;
    border-width: 1px !important;
    border-color: black;
}



@font-face {
  font-family: 'uthm2';
  src: url('../fonts/uthm2.otf')  format("opentype"),
       local('uthm2');
}

.ayat-box {
    width: 550px;
    margin: auto;
}


.uthm2 {
    font-family: uthm2;
    font-size: 28px;
}

td {
    cursor: pointer;
}

canvas {
max-width: 100%;
height: auto;
}