{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Nasrul Hifz</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/custom.css' %}">
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/dynamic_form.js' %}"></script>
  <script src="{% static 'js/dynamic_table.js' %}"></script>
</head>

<body>
{% block navs %}


{% endblock %}


</body>
</html>