{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Nasrul Hifz</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/custom.css' %}">
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/dynamic_form.js' %}"></script>
  <script src="{% static 'js/dynamic_table.js' %}"></script>
</head>
<body>

<nav class="navbar navbar-expand-sm bg-light">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'qurandata:index' %}">Ayat List</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'qurandata:enter' %}">Enter Data</a>
    </li>
  </ul>
</nav>
<br>

  
<div class="container align-items-center justify-content-center ">


  {% block content %}
     {% endblock %}
</div>

</body>
</html>